@mixin teko {
  font-family: "Teko", sans-serif;
}

@mixin exo {
  font-family: "Exo", sans-serif;
}

@mixin wgt-300 {
  font-weight: 300;
}

@mixin wgt-400 {
  font-weight: 400;
}

@mixin wgt-500 {
  font-weight: 500;
}

@mixin wgt-600 {
  font-weight: 600;
}
