// Colours
$grey: #878787;
$light_charcoal: #4a4a4a;
$charcoal: #181818;
$light_grey: #aeaeae;
$xlight_grey: #e9e9e9;
$xxlight_grey: #ececec;
$subtext: #777777;
$highlight: #4277a6;
$almost_white: #f1f0f0;
$white: #ffffff;
$app_background: #ffffff;
$app_dark_background: #161d27;

// Device breakpoints
// Galaxy Fold and smaller phones
$screen-xs-min: 300px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1020px;

// Large tablets and desktops
$screen-xl-min: 1200px;
